{% extends 'base.html' %}

{% block title %}
Find group of companies-Sypher Solutions
{% endblock %}

{% block body %}
<br>
<div class="container">
    <form action="#" method="POST" class="URLForm" style="color: white;">
        {{ form.hidden_tag() }}
        <h5><label for="url">Enter the URL of the <a href="https://www.zaubacorp.com/" target="_blank">Zaubacorp</a>
                search
                result: </label></h5>
        {{ form.url(class="form-control") }}
        <br>
        {{form.submit(class="btn btn-lg btn-primary")}}
    </form>
    
    {% if isPrepared %}
    <br>
    <a href="{{ url_for('downloadFile') }}" class="btn btn-lg btn-success" target="_blank">Download File</a>
    {% endif %}
</div>
{% endblock %}
